<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">

    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">
        
    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">
        
    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">
        
    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">
        
    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl">
    <div class="">
        
    </div>
</div>
