<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div>
<div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div><div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div><div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div><div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div><div class="w-[350px] h-[250px] bg-gray-700 rounded-2xl border border-1 border-gray-500">
    <div class="">

    </div>
</div>