<div class="w-full flex justify-center">
    <div class="w-4/5 flex justify-center" >
        <div class="flex justify-center gap-3 flex-wrap" *ngIf="allImages.length>0; else nothing ">
            <div *ngFor="let item of allImages">
               <div  class="w-[300px]">
                <a [href]="item" download="converted"><img [src]="item" alt="" class="w-full"></a>
               </div> 
            </div>
        </div>
       
    </div>
</div>
<ng-template #nothing>
    <div class="w-full min-h-[80vh] text-4xl text-white flex justify-center items-center">Nothing Found</div>
</ng-template>